<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="EMR_BDD.EMR_BDD.AppTest"/>
      <class name="emr.utilities.BeforeActions"/>
      <class name="emr.utilities.AfterActions"/>
      <class name="emr.utilities.SetupDriver"/>
       <class name="emr.runner.EmrLoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
